body {
  background: #444;
  font-family: 'Encode Sans', sans-serif;
  font-size: 1.9rem;
  font-weight: 200;
}

#explain {
  display: inline;
  padding: 5px;
  margin: 0 0 5px;
  margin: 40px auto;
  color:#ccc;
  border-bottom: 9px solid #222;
  padding: 20px;
}

#timedate {
  display: inline;
  margin: -30px;
  color:#ccc;
  border-bottom: 9px solid #222;
  padding: 20px;
}

#body {
  text-align:left;
  max-width: 1000px;
  margin: 40px;
  color:#ccc;
  padding: 20px;
  font-size: 1.2rem;
  font-weight: 100;
}
